body {
  background-color:#185adb;
}

.App {
  height: auto;
  width: auto;
  margin: auto;
  padding-bottom: 20px;
  background-color: #efefef;
  border-radius: 10px;
  text-align: center;
}

/*The below code sets the menu items and logo at top as flexbox */
.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*The below code styles the logo at the top left */
.header--logo {
  width: 75px;
  height: 75px;
  float: left;
  transition: all .5s;
}

.header--logo:hover {
  transform: scale(1.2) rotate(5deg);
}

/*The below code styles the menu buttons at the top */
.menu--item {
  padding: 10px;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 10px;
  float: right;
  text-decoration: none;
  font-size: larger;
  color: black;
  font-family: arial black;
}

.menu--item:hover, .item:focus {
  /* border-bottom: solid 1px black; */
  transform: scale(1.08);
}

.active {
  background: lightgrey;
  border-bottom: solid 4px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav {
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.flex-container-projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}

.main--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

/* The below class centered and then stacked images vertically */
.img--container {
  display: flex;
  flex-flow: column nowrap;
  
}

.project--images {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 6px 6px 0 rgba(0, 0, 0, 0.4);
  transition: all .3s;
}

/* no longer working after using framer-motion */
.project--images:hover {
  transform: scale(1.05);
}

.project--name {
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: larger;
  color: black;
  font-family: arial black;
}

ul {
  
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;

}

.project--detail--title {
  margin-top: 10px;
}

.img--details {
  width: 600px;
}

.description {
  width: 770px;
}

.flex-container-projectList {
  margin-top: 35px;
}

.github--link {
  text-decoration: none;
  color: black;
}

.github--link:hover {
  transform: scale(1.08);
}

.pdf {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button--left {
  margin-right: 10px;
}

.button--right {
  margin-left: 10px;
}

.pdfiframe {
  width: auto;
  height: 100%;
  margin-top: 35px;
  overflow: hidden;
}
